@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@font-face {
    font-family: "San Francisco";
	src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}


form{
    height: 100vw;
    width: 100vw;
    position: fixed;
}

p,
label {
    font-family: 'San Francisco', serif;
}

form *{    
    font-family: 'San Francisco', serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

title{
	position: absolute;
    display: block;
	left: 56.6083vh;
	top: 70.463vh;
    font-size: 4vh;
    font-weight: 1000;
}

title2{
	position: absolute;
    display: block;
	left: 82vh;
	top: 70.463vh;
    font-size: 4vh;
    font-weight: 1000;
}

title3{
	position: absolute;
    display: block;
	left: 98vh;
	top: 70.463vh;
    font-size: 4vh;
    font-weight: 1000;
}



.blue {
    color: #4570bb;
}

.grey {
    color: rgb(255, 255, 255);
}

.logo {
    height: 45vh;
    width: 45vh;
	position: absolute;
    display: block;
	left: 36vw;
	top: 10.463vh;
    border-radius: 50vh;
}

body {
    user-select: none;
    position: fixed;
}
